.custom-italic {
    font-style: italic;
}

.btn-homepage:hover {
    transform: translateY(10px);
    transition: 0.5s
}

.nav-link:hover {
    transform: translateY(-5px);
    transition: 0.5s
}

.recent-card:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .filter-btn {
        width: 200px
    }

    .row-cols-md-3 > .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1250px) {
    .row-cols-md-3 > .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}